.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.InputElement{
	outline: none;
	border: 1px solid #AAA;
	background-color: #fff;
	font: inherit;
	padding: 5px 10px;
	display: block;
	margin: 5px auto;
}

.InputElement:focus{
	outline: none;
	background-color: #BBB;
}
